*{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
.game{
    width: 500px;
    height: 200px;
    background-color: rgb(239, 184, 220);
    border: 1px solid rgb(84, 20, 41);
    margin: auto;
}
#character{
    width: 40px;
    height: 50px;
    background-color: cornflowerblue;
    position: relative;
    top: 150px;
}
.animate{
    animation: jump 0.4s linear;
}


@keyframes jump{
    0%{top: 150px;}
    30%{top:100px;}
    70%{top:100px;}
    100%{top: 150px;}
}
#block{
 width: 20px;
height: 20px;
background-color: black;
position: relative;
top: 130px;
left: 500px;
animation: block 1.6s infinite linear;
}
@keyframes block{
    0%{left: 500px;}
    100%{left: -20px;}
}